<!doctype html>
<html lang="en">

<head>
    <title>Workout Gen</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app" v-cloak>

        <!-- BS Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light sticky-top custom-primary-bg">
            <a class="navbar-brand px-3" href="#">PPL Workout Generator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/nwebb123" target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Portfolio</a>
                    </li>
                    <!-- < class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                           Dropdown
                       </a>
                       <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="#">Action</a></li>
                           <li><a class="dropdown-item" href="#">Another action</a></li>
                           <li>
                               <hr class="dropdown-divider">
                           </li>
                           <li><a class="dropdown-item" href="#">Something else here</a></li>
                       </ul>-->
                </ul>
                <!-- <form class="d-flex">
                   <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                   <button class="btn btn-outline-light" type="submit">Search</button>
               </form> -->
            </div>
        </nav>

        <!-- ======= Hero Section ======= -->
        <main id="hero">
            <div class="container-fluid">

                <!-- Title (old)-->
                <!-- <div class="row px-2 py-3 justify-content-center text-center">
                    <div class="col-xxl-8 col-lg-8 col-sm-8 card custom-primary-bg">
                        <h1>{{title}}</h1>                      
                    </div>
                </div> -->

                <!-- Intro/Description of PPL -->
                <div class="row justify-content-center p-1">
                    <div class="col-xxl-10 col-lg-8 col-md-10">
                        <div class="card m-1 p-2 custom-primary-bg">
                            <!-- -->
                            <h1 class="text-center">{{title}}</h1>
                            <hr>
                            <h4>The purpose of this web app is to generate a daily workout for someone
                                following what's known as a Push/Pull/Legs (PPL) split. According to Men's Health,
                                PPL is a full-body training split that's designed to build muscle in almost every single
                                muscle group by following a simple format: on a certain day of the week, you only train
                                either upper-body pushing muscles (push), upper-body pulling muscles (pull), or your
                                entire lower-body (legs). A common weekly schedule might look something like this:
                            </h4>
                        </div>
                        <!-- PPL Split Table -->
                        <div class="container table-responsive py-4 text-center">
                            <table class="table table-bordered table-primary table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                        <th scope="col">Sunday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Week 1:</th>
                                        <td>Push</td>
                                        <td>Pull</td>
                                        <td>Legs</td>
                                        <td>Rest</td>
                                        <td>Push</td>
                                        <td>Pull</td>
                                        <td>Legs</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Week 2:</th>
                                        <td>Rest</td>
                                        <td>Push</td>
                                        <td>Rest</td>
                                        <td>Pull</td>
                                        <td>Legs</td>
                                        <td>Rest</td>
                                        <td>Push</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="row pt-3 justify-content-center text-center">
                    <div class="col-xxl-8 col-lg-8 col-sm-10">
                        <div class="accordion" id="accordionExample">
                            <!-- Push -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingPush">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsePush" aria-expanded="false"
                                        aria-controls="collapsePush">
                                        Push
                                    </button>
                                </h2>
                                <div id="collapsePush" class="accordion-collapse collapse" aria-labelledby="headingPush"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> Muscle groups being targeted: Chest, front delts, and triceps.
                                        </p>
                                        <button v-on:click="displayPushExercisesTable = !displayPushExercisesTable"
                                            class="btn btn-block btn-outline-primary">
                                            Generate Push Workout
                                         </button><!--@click="testingCallingDataFromPushJS" -->


                                         <!-- <div v-if="displayPushExercisesTable" class="container py-3">
                                            <ul>
                                                <li>{{randomPushExerciseName}}</li>
                                            </ul>
                                        </div> -->

                                        
                                        <!-- Turn this into component -->
                                        <div v-if="displayPushExercisesTable" class="container table-responsive py-5">
                                            <table class="table table-bordered table-hover">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">First</th>
                                                        <th scope="col">Last</th>
                                                        <th scope="col">Handle</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>@fat</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- <p>{{flatDBChestPress}}</p> -->

                                    </div>
                                </div>
                            </div>
                            <!-- Pull -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingPull">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsePull" aria-expanded="false"
                                        aria-controls="collapsePull">
                                        Pull
                                    </button>
                                </h2>
                                <div id="collapsePull" class="accordion-collapse collapse" aria-labelledby="headingPull"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> Muscle groups being targeted: Back, traps, and biceps.
                                        </p>
                                        <button class="btn btn-block btn-outline-primary">Generate Pull Workout</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Legs -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingLegs">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLegs" aria-expanded="false"
                                        aria-controls="collapseLegs">
                                        Legs
                                    </button>
                                </h2>
                                <div id="collapseLegs" class="accordion-collapse collapse" aria-labelledby="headingLegs"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> Muscle groups being targeted: Legs, calves.
                                        </p>
                                        <button class="btn btn-block btn-outline-primary">Generate Legs Workout</button>

                                    </div>
                                </div>
                            </div>

                            <!-- Core -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingCore">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseCore" aria-expanded="false"
                                        aria-controls="collapseCore">
                                        Core
                                    </button>
                                </h2>
                                <div id="collapseCore" class="accordion-collapse collapse" aria-labelledby="headingCore"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> Abdominal muscles are resilient, and respond well to more frequent training.
                                        </p>
                                        <button class="btn btn-block btn-outline-primary">Generate Core Workout</button>

                                    </div>
                                </div>
                            </div>
                            <!-- Cardio -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingCardio">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseCardio" aria-expanded="false"
                                        aria-controls="collapseCardio">
                                        Cardio
                                    </button>
                                </h2>
                                <div id="collapseCardio" class="accordion-collapse collapse"
                                    aria-labelledby="headingCardio" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> Cardio can vary from simple walks to rigorous hiking.
                                        </p>
                                        <button class="btn btn-block btn-outline-primary">Generate Core Workout</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>



    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

    <!-- Push JS -->
    <script src="/assets/js/push.js"></script>
    <!-- Pull JS -->
    <script src="/assets/js/pull.js"></script>
    <!-- Legs JS -->
    <script src="/assets/js/legs.js"></script>
    <!-- Core JS -->
    <script src="/assets/js/core.js"></script>
    <!-- Cardio JS -->
    <script src="/assets/js/cardio.js"></script>

    <!-- Main Vue JS -->
    <script src="/assets/js/main.js"></script>

</body>

</html>